body {
  font-family: sans-serif;
}

code {
  font-family: monospace;
  background-color: #eee;
  border-radius: 3px;
}

pre {
  font-family: monospace;
  background-color: #eee;
  border-radius: 3px;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}

.align-center {
  margin: auto;
  width: 50%;
}

table, th, td {
  border: solid 1px black;
  border-collapse: collapse;
}

th, td {
  margin: 2px;
}

nav {
    speak: always;
}
