nav ul {
  display: flex;
  border: solid 2px black;
  padding-left: 0;
  flex-flow: wrap;
}

nav li {
  list-style: none;
  border: solid 1px black;
  margin: 2px;
}

nav h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
